{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block jumbotron %}
    <h2 class="display-4">Ratemyuni</h2>
    <p class="lead">University reviews created by students for students</p>
    <hr class="my-4">
{% endblock %}

{% block main %}
    <p>Please enter the name of a university in Malaysia</p>
    <div class="form-group">
        <input autofocus autocomplete="off" class="form-control" placeholder="University Name" type="search">
    </div>
    <div class="d-grid gap-2" id="list"></div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
        document.addEventListener("DOMContentLoaded", function() {
            let input = document.querySelector("input");
            input.addEventListener("keyup", function() {
                $.get("/search?q=" + input.value, function(universities) {
                    let html = "";
                    for (let id in universities)
                    {
                        name = universities[id].name;
                        university_id = universities[id].id;
                        html += '<a class="btn btn-light" href="/rating?q=' + university_id + '">' + name + '</a>';
                    }
                    document.querySelector("#list").innerHTML = html;
                });
            });

        });
</script>
{% endblock %}