{% extends "layout.html" %}

{% block title %}
    Ratings
{% endblock title %}

{% block main %}
    <button class="btn btn-primary" type="button" id="create">Submit a rating</button>
    <div id="form" style="display: none;">
        <hr class="display-4">
        <form action="/rating" method="post">
            <div class="form-group">
                <label for="university_name" class="form-label">Enter a university name for which you want to submit a review.</label>
                <input autofocus autocomplete="off" class="form-control" name="name" list="datalist" id="university_name" placeholder="Full university name" value='{{ name }}' type="text">
                <datalist id="datalist">
                {% for university in universities %}
                    <option value="{{ university.name }}">
                {% endfor %}
                </datalist>
            </div>
            <div class="form-group">
                <label for="course_name" class="form-label">What course did you stude there?</label>
                <input autocomplete="off" class="form-control" name="course" id="course_name" placeholder="Course name" type="text">
            </div>
            <div class="slidecontainder">
                <span>Facilities: </span>
                <input class="slider" type="range" min="1" max="5" name="facilities"><br>
                <span>Location: </span>
                <input class="slider" type="range" min="1" max="5" name="location"><br>
                <span>Safety: </span>
                <input class="slider" type="range" min="1" max="5" name="safety"><br>
                <span>Workload: </span>
                <input class="slider" type="range" min="1" max="5" name="workload"><br>
                <span>Food and Beverages: </span>
                <input class="slider" type="range" min="1" max="5" name="food"><br>
                <span>Clubs: </span>
                <input class="slider" type="range" min="1" max="5" name="clubs"><br>
                <span>Happiness: </span>
                <input class="slider" type="range" min="1" max="5" name="happiness"><br>
            </div>
            <label for="status" class="form-label">Have you completed your studies at this university?</label>
            <select name="status" class="form-select-sm" id="status">
                <option value="Completed" selected>Completed</option>
                <option value="Ongoing">Ongoing</option>
                <option value="Dropped Out">Dropped Out</option>
            </select><br>
            <label for="year" class="form-label">What year did you start attending at this university?</label>
            <input type="number" class="form-control-sm" autocomplete="off" name="year" placeholder="YYYY"><br>
            <label for="textarea" class="form-label">Feel free to express what you think of this university:</label>
            <div class="form-floating">
                <textarea class="form-control" name="comment" id="textarea" required placeholder="Leave yor comments here" type="text" style="height: 180px;" autocomplete="off" spellcheck="true"></textarea>
                <label for="textarea">Leave your comments here...</label>
            </div>
            <div>Please note that this action is irreversible you cannot delete your rating after you submit it</div>
            <button class="btn btn-light" type="submit">Submit</button>
        </form>
    </div>
    <hr class="my-4">
    <h4>{{ name }}</h4>
    <h5>Overall: {{ grade }} ({{ counter }})</h5>
    <hr class="my-4">
    {% for rating in ratings %}
        <div class="container">
            <table class="table table-light table-bordered">
                <thead>
                    <tr>
                        <th>{{ rating.date }}</th>
                        <th>{{ rating.name }}</th>
                        <th>Entry year: {{ rating.year }}</th>
                        <th>Status: {{ rating.status }}</th>
                        <th>Overall: {{ rating.overall }}</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div>Facilities: {{ rating.facilities }}</div>
                                <div>Location: {{ rating.location }}</div>
                                <div>Safety: {{ rating.safety }}</div>
                                <div>Workload: {{ rating.workload }}</div>
                                <div>Food choices: {{ rating.food }}</div>
                                <div>Clubs: {{rating.clubs }}</div>
                                <div>happiness: {{ rating.happiness }}</div>
                            </td>
                            <td colspan="3">
                                <div>Additional comments:</div>
                                <div>{{ rating.comment }}</div>
                                <div id="report">
                                    <form action="/report">
                                        <input style="display: none;" value="{{rating.id}}" name="ratings_id">
                                        <button type="submit" class="btn btn-light">Report</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
    {% endfor %}    

{% endblock main %}

{% block script %}
    <script>
        let button = document.querySelector("#create");
        button.addEventListener("click", function() {
            document.querySelector("#form").style.display = "block";
        });
    </script>
{% endblock script %}